<!-- Search:

The user shall type in a search term that will:
Make a request to the API using the search term
Display the results in a list to the user -->

<article class="center-this">
  <h1>Search For A Recipe!</h1>

  <section class="search-form">
    <!-- change to temp_path if testing params output -->
    <%= form_tag results_path(1), method: :get do %>
      <%= text_field_tag :search_term, nil, placeholder: "Enter search term(s)" %>

      <!-- <ul> -->
        <% @health_options.each do |option| %>
            <!-- <li> -->
              <p>
                <%= label_tag option %>
                <%= check_box_tag 'health_terms[]', option %>
              </p>
            <!-- </li> -->
        <% end %>
      <!-- </ul> -->

      <%= submit_tag "Search!", class: "button" %>
    <% end %>
  </section>

  <section class="past-searches">
    <% if !session[:searches].empty? && session[:searches] != nil %>
      <h3>Recent Searches</h3>
      <% session[:searches][-6..-1].reverse.each do |search| %>
        <p><%= link_to search, results_path(1, search_term: search) %></p>
      <% end %>
    <% end %>
  </section>
</article>
