<!-- Show View:

This shall show the details about a given recipe. These details include:
Name
Link to the original recipe (opens in a new tab)
Ingredients
Dietary information -->
<div class="center-this bigger-image">
  <%= image_tag @recipe.image %>
</div>

<h1 class="center-this"><%= @recipe.name %></h1>

<section class="recipe-details">
  <h5>Original Recipe:</h5>
  <p><%= link_to @recipe.name, @recipe.link, :target => '_blank' %></p>

  <h5>Ingredients:</h5>
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
      <li>
        <%= ingredient["text"] %>
      </li>
    <% end %>
  </ul>

  <h5>Dietary Information:</h5>
  <ul>
    <% @recipe.dietary_info.each do |info_item| %>
      <li>
        <%= info_item %>
      </li>
    <% end %>
  </ul>

</section>
