<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Recipe Search" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
  </head>

  <body>
    <div class="content">
    <header>
      <nav>
        <%= link_to "ðŸ½", root_path, class: "home" %>
      </nav>
    </header>

    <%= yield %>
    </div>

  <footer class="footer">
    <%= image_tag "edamamlogo.png", class: "logo" %>
  </footer>
  </body>
</html>
